#profile {
  display: flex;
  height: 350px;
  width: 100%;
  margin-top: 150px;
  padding: 0px 0px;
  background-color: darkgoldenrod;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/use-your-illusion.png");
  color: white;
}

header>div>h2 {
  margin: 0px;

}

@media screen and (max-width: 1024px) {
  
  #profile {
  margin-top: 120px;
  }
  
  
  }
  