

header {
  display:flex;
  height: 400px;
   margin-top: 100px;
  background-color:darkgoldenrod;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/use-your-illusion.png");
  color:white;
}

header > div > h2 {
margin-top: 0px;

}