nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
}

nav > span {
  font-family: 'Bungee', sans-serif;
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Source Sans Pro, sans-serif;
  align-items: center;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  25% {
    transform: scale(1.1) translateY(0);
  }

  50% {
    transform: scale(1.1) translateY(-10px);
  }
}

.drop-down {
  animation: bounce 1s linear infinite;
  color: red;
  pointer-events: none;
}