form {
  display: flex;
  flex-direction: column;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.new-tweet {
  display:flex;
justify-content: center;
flex-direction: column;
align-items: stretch;
margin-top: 1em;
margin-bottom: 1em;
width: 100%;
}

textarea {
  display: flex;
  flex-direction: column;
  font-family:Source Sans Pro , sans-serif; 
   font-weight:500;
  border-width: thick;
  border-top: none; 
  border-right: none;
  border-left: none; 
  border-bottom: 5px solid rgb(18, 17, 17);
  background-color: #f4f1ec;
  resize: none;  
  outline: none;
  
}

.tweet-text{
  border-bottom: 5px solid rgb(18, 17, 17);
 word-wrap: break-word;
 margin-left: 0.5em;
 margin-right: 0.5em;
}

.tweetButton {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
}

.tweetButton > button{
background-color: rgb(41, 41, 183);
color: #ffffff;
font-weight: bold;
cursor: pointer;
}

.errorText{
  display:flex;
  flex-direction: column;
  justify-content: center;
  color:red;
  align-items: flex-start;
padding-left: 0.5em;
padding-right: 0.5em;
}