article{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
  outline-style: solid;
  margin: 10px 0px;
  padding: 0.5em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.img-name {
  display: flex;
  flex-direction: row;

}

header>img {
  height: 40px;

}



#name {

  margin-left: 10px;
  font-size: 21px;
  padding-left: 0px;
}


#lastName {
  color: rgb(79, 79, 136);
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2em;
  font-size: 21px;
align-self: flex-end;
}

article:hover {
  opacity: 2;
  text-shadow: 0.2px 0.2px rgb(79, 79, 136);
  box-shadow: 8px 8px rgb(170, 170, 214);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0px;
  margin: 3%;
  margin-top: 0;
  font-family: Source Sans Pro, Sans-Serif;
  font-size: 0.75em;
  /* border-top: 5px black solid; */
}

.fa-solid:hover {
  color: darkgoldenrod;
}

.fas:hover {
  color: darkgoldenrod;
}